<B><I><U>PHONEPE TRANSACTIONS<B><I><U>

<B><I><U>CLONING FROM GITHUB<B><I><U>

In [2]:
import git

git.Git("E:/Capstone/Project 2").clone("https://github.com/PhonePe/pulse.git")

''

Using git library we are cloning the dataset from the Github link to our desired location.

<B><I><U>CREATING DATAFRAME<B><I><U>

In [3]:
import os
import json

These libraries are necessary for the reading the json files in the file locations

In [4]:
path = r"E:/Capstone/Project 2/pulse/data/map/transaction/hover/country/india/state"

clm= {'State':[], 'Year':[],'Quarter':[],'District':[], 'Tcount':[], 'Tamount':[]} 

for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith(".json"):
            state = root.split(os.path.sep)[-2]
            year = root.split(os.path.sep)[-1]
            quarter = file.strip(".json")

            Jpath = os.path.join(root,file)

            Dot = open(Jpath,'r')
            D = json.load(Dot)
            for i in D['data']['hoverDataList']:
                Name = i['name']
                Count = i['metric'][0]["count"]
                Amount = i['metric'][0]["amount"]
                clm['District'].append(Name)
                clm['Tcount'].append(Count)
                clm['Tamount'].append(Amount)
                clm['State'].append(state)
                clm['Year'].append(year)
                clm['Quarter'].append(quarter)

Need to mention the path which contains the json files by assigning them to the variable "path".

Creating a dictionary "clm" which contains the keys based on the values we need.

We are creating a "for" loop and using the "os.walk" function to read the files in the folder and its subfolder. In which the each state folder has the 5 subfolders based on the year and each subfolders contains the 4 json files each. We also need the folder and json file names which needs to be added in the respective keys.

While reading the json file using the "json.load" function. we are only extracting the district name and its transaction amount and transaction count values.

We are appending the values to the respective keys in the dictionary.

In [5]:
import pandas as pd

Need pandas library for creating the dataframe

In [6]:
FS =pd.DataFrame(clm)

Converting the dictionary to the Dataframe using the "pd.Dataframe" function.

In [7]:
FS

,State,Year,Quarter,District,Tcount,Tamount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16095,west-bengal,2023,2,nadia district,26194658,5.410386e+10
16096,west-bengal,2023,2,birbhum district,14912523,2.941312e+10
16097,west-bengal,2023,2,purba medinipur district,30724502,6.595899e+10
16098,west-bengal,2023,2,maldah district,24677357,5.218621e+10
16099,west-bengal,2023,2,darjiling district,13049366,2.372866e+10

<B><I><U>PROCESSING & CLEANING THE DATAFRAME<B><I><U>

In [8]:
FS['Quarter'] = FS['Quarter'].str.replace("1","Quarter 1")
FS['Quarter'] = FS['Quarter'].str.replace("2","Quarter 2")
FS['Quarter'] = FS['Quarter'].str.replace("3","Quarter 3")
FS['Quarter'] = FS['Quarter'].str.replace("4","Quarter 4")

Providing the names to the Quarter instead of the values

In [9]:
FS['District'] = FS['District'].str.title()
FS['District'] = FS['District'].str.replace("District","")
FS['State'] = FS['State'].str.replace("-"," ")
FS['State'] = FS['State'].str.title()
FS['District']=FS['District'].str.rstrip()

Removing the "District" word and changing the small to proper format.

Replacing the space instead of the "-" symbol in the State column. And changing them to the Proper format.

Removing the any space at the end the word using "rstrip" function.

In [10]:
FS['District'] = FS['District'].str.replace("Aravallis","Aravalli")
FS['District'] = FS['District'].str.replace("Bengaluru Urban","Bengaluru")
FS['District'] = FS['District'].str.replace("Chhotaudepur","Chhota Udaipur")
FS['District'] = FS['District'].str.replace("Darjiling","Darjeeling")
FS['District'] = FS['District'].str.replace("Deogarh","Deoghar")
FS['District'] = FS['District'].str.replace("Firozepur","Firozpur")
FS['District'] = FS['District'].str.replace("Gariyaband","Gariaband")
FS['District'] = FS['District'].str.replace("Jaya Shankar Bhalupally","Jayashankar Bhupalpally")
FS['District'] = FS['District'].str.replace("Koch Bihar","Cooch Behar")
FS['District'] = FS['District'].str.replace("Leh Ladakh","Leh")
FS['District'] = FS['District'].str.replace("Marigaon","Morigaon")
FS['District'] = FS['District'].str.replace("Mewat","Nuh")
FS['District'] = FS['District'].str.replace("Pashchim Champaran","West Champaran")
FS['District'] = FS['District'].str.replace("Peddapalle","Peddapalli")
FS['District'] = FS['District'].str.replace("Purbi Champaran","East Champaran")
FS['District'] = FS['District'].str.replace("Rangareddy","Ranga Reddy")
FS['District'] = FS['District'].str.replace("Sahebganj","Sahibganj")
FS['District'] = FS['District'].str.replace("Sant Kabeer Nagar","Sant Kabir Nagar")
FS['District'] = FS['District'].str.replace("Saraikela Kharsawan","Seraikela Kharsawan")
FS['District'] = FS['District'].str.replace("Sonepur","Subarnapur")
FS['District'] = FS['District'].str.replace("Ysr","YSR Kadapa")
FS['District'] = FS['District'].str.replace("Sas Nagar","S.A.S. Nagar")
FS['District'] = FS['District'].str.replace("Kallakkurichi","Kallakurichi")

Replacing the District names based on the Geojson file to make the mapping feasible.

In [11]:
#For Sikkim
rows = range(10776,10856)
FS.loc[rows,"District"] = FS.loc[rows,"District"].str.replace("South","South District")
FS.loc[rows,"District"] = FS.loc[rows,"District"].str.replace("North","North District")
FS.loc[rows,"District"] = FS.loc[rows,"District"].str.replace("East","East District")
FS.loc[rows,"District"] = FS.loc[rows,"District"].str.replace("West","West District")

For Sikkim and Delhi, These States have similar district names, So to avoid the confusion we are updating the district names for the Sikkim district alone based the range of the rows.

In [12]:
FS

,State,Year,Quarter,District,Tcount,Tamount
0,Andaman & Nicobar Islands,2018,Quarter 1,North And Middle Andaman,442,9.316631e+05
1,Andaman & Nicobar Islands,2018,Quarter 1,South Andaman,5688,1.256025e+07
2,Andaman & Nicobar Islands,2018,Quarter 1,Nicobars,528,1.139849e+06
3,Andaman & Nicobar Islands,2018,Quarter 2,North And Middle Andaman,825,1.317863e+06
4,Andaman & Nicobar Islands,2018,Quarter 2,South Andaman,9395,2.394824e+07
...,...,...,...,...,...,...
16095,West Bengal,2023,Quarter 2,Nadia,26194658,5.410386e+10
16096,West Bengal,2023,Quarter 2,Birbhum,14912523,2.941312e+10
16097,West Bengal,2023,Quarter 2,Purba Medinipur,30724502,6.595899e+10
16098,West Bengal,2023,Quarter 2,Maldah,24677357,5.218621e+10
16099,West Bengal,2023,Quarter 2,Darjeeling,13049366,2.372866e+10

This is updated Dataframe after the cleaning process is done. The dataframe is ready to be inserted in the SQL.

<B><I><U>CREATING THE DATABASE IN SQL<B><I><U>

In [13]:
import mysql.connector
from mysql.connector import Error

These are necessary library needed for connecting the SQL Server through the Jupyter Notebook.

In [14]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
  password="*****"
)

Connecting the SQL Server using the "connect" function by providing the user and password.

In [15]:
mycursor = mydb.cursor()

Assigning the Database connect through the variable.

In [16]:
mycursor.execute("CREATE DATABASE Capstone")

Craating the Database named "Capstone"

<B><I><U>CONNECTING TO THE DATABASE IN SQL<B><I><U>

In [17]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
  password="******",
  database = "Capstone"
)

Connecting the Database using user and password

In [18]:
if mydb:
    print("Connected")
else:
    print("Connection Error")

Connected

Checking the connection.

In [20]:
mycursor = mydb.cursor()

<B><I><U>CREATING TABLE IN THE DATABASE IN SQL<B><I><U>

In [21]:
mycursor.execute("CREATE TABLE Phonepetransactions(State varchar(255),Year varchar(255),Quarter varchar(255),District varchar(255),Transaction_Count int,Transaction_Amount varchar(255))")

Creating the table along the headers of the column.

<B><I><U>INSERTING THE VALUES OF THE TABLE IN THE DATABASE IN SQL<B><I><U>

In [22]:
for i,row in FS.iterrows():
            #here %S means string values 
        sql = "INSERT INTO Capstone.Phonepetransactions VALUES (%s,%s,%s,%s,%s,%s)"
        mycursor.execute(sql, tuple(row))

mydb.commit()

Inserting the values of the Dataframes using the for loop and Sql query

In [23]:
mydb.close()

Closing the Database

<B><I><U>CREATING DASHBOARD<B><I><U>

For Creating the Dashboard, Creating the separate Capstone_2 python file using the Jupyter notebook

In [26]:
%%writefile Capstone_2.py

#Importing the necessary libraries

import streamlit as st
import plotly.express as px
import mysql.connector
import pandas as pd  
import json
import locale  

#Data Retrival from the SQL database using the user and password.

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
  password="*****",
  database = "Capstone"
)

df = pd.read_sql_query("SELECT * FROM Capstone.Phonepetransactions",mydb)

#Conversion of the type of the column from str to float.

df = df.astype({'Transaction_Amount':'float'})

#Dashboard Creation

st.set_page_config(page_title="Phonepe_Transactions", page_icon=":bar_chart:",layout="wide")

#Sidebar
#Creating the filter based on the Year, Quarter and State

st.sidebar.header("Please Filter here")
Year = st.sidebar.multiselect("Select Year:",options=df["Year"].unique(),default = df["Year"].unique())
Quarter = st.sidebar.multiselect("Select Quarter:",options=df["Quarter"].unique(),default = df["Quarter"].unique())
State = st.sidebar.multiselect("Select State:",options=df["State"].unique(),default = df["State"].unique())
FS = df.query("Year == @Year & Quarter == @Quarter & State == @State")

#Header Section
#Providing the Total for the transaction Amount and Numbers in the Indian Numerical System using locale library

st.title(":bar_chart: Phonepe Pulse - Transactions")
st.markdown("##")
total_values = int(FS["Transaction_Amount"].sum())
total_count = int(FS["Transaction_Count"].sum())

locale.setlocale(locale.LC_ALL, 'en_IN')
formatted_total_values =  locale.currency(total_values, grouping=True)
formatted_total_numbers =  locale.currency(total_count, grouping=True)

left_column,right_column = st.columns(2)

with left_column:
  st.subheader("Total Transactions Values :")
  st.subheader(formatted_total_values.split(".")[0])

with right_column:
  st.subheader("Total Transactions Numbers :")
  st.subheader(formatted_total_numbers.split(".")[0][1:])
  
st.markdown("---")

#st.dataframe(FS)

# Graphs
# Pie Graph
# Providing the Transaction Values and Numbers based on the Quarter and Year using the Pie Graph with help of the Plotly Library

Amount_by_Quarter =  FS.groupby(by=['Quarter']).sum()[['Transaction_Amount']]
Count_by_Quarter =  FS.groupby(by=['Quarter']).sum()[['Transaction_Count']]
Amount_by_Year =  FS.groupby(by=['Year']).sum()[['Transaction_Amount']]
Count_by_Year =  FS.groupby(by=['Year']).sum()[['Transaction_Count']]


Pie_Quarter1 = px.pie(Amount_by_Quarter, values='Transaction_Amount', names=Amount_by_Quarter.index, title="<b> Transaction Values by Quarter </b>")
Pie1 = Pie_Quarter1.update_traces(textposition='inside', textinfo='percent+label')

Pie_Quarter2 = px.pie(Count_by_Quarter, values='Transaction_Count', names=Count_by_Quarter.index, title="<b> Transaction Numbers by Quarter </b>")
Pie2 = Pie_Quarter2.update_traces(textposition='inside', textinfo='percent+label')

Pie_Year1 = px.pie(Amount_by_Year, values='Transaction_Amount', names=Amount_by_Year.index, title="<b> Transaction Values by Year </b>")
Pie3 = Pie_Year1.update_traces(textposition='inside', textinfo='percent+label')

Pie_Year2 = px.pie(Count_by_Year, values='Transaction_Count', names=Count_by_Year.index, title="<b> Transaction Numbers by Year </b>")
Pie4 = Pie_Year2.update_traces(textposition='inside', textinfo='percent+label')

# Bar Graph
# Providing the Transaction Values and Numbers of the State based on the Quarter and Year using the Bar Graph with help of the Plotly Library

Amount_of_State1 =  FS.groupby(by=['State','Quarter']).sum()[['Transaction_Amount']].reset_index()
Amount_of_State2 =  FS.groupby(by=['State','Year']).sum()[['Transaction_Amount']].reset_index()
Amount_of_State_by_Quarter = Amount_of_State1.set_index(["State"])
Amount_of_State_by_Year = Amount_of_State2.set_index(["State"])

Bar_Quarter1 = px.bar(
 Amount_of_State_by_Quarter,
 x = Amount_of_State_by_Quarter.index,
 y = "Transaction_Amount",
 color = "Quarter",
 orientation = "v",
 title = "<b> Transaction Values of State by Quarter </b>"
)

Bar_Year1 = px.bar(
 Amount_of_State_by_Year,
 x = Amount_of_State_by_Year.index,
 y = "Transaction_Amount",
 color = "Year",
 orientation = "v",
 title = "<b> Transaction Values of State by Year </b>"
)

Count_of_State1 =  FS.groupby(by=['State','Quarter']).sum()[['Transaction_Count']].reset_index()
Count_of_State2 =  FS.groupby(by=['State','Year']).sum()[['Transaction_Count']].reset_index()
Count_of_State_by_Quarter = Count_of_State1.set_index(["State"])
Count_of_State_by_Year = Count_of_State2.set_index(["State"])

Bar_Quarter2 = px.bar(
 Count_of_State_by_Quarter,
 y = Count_of_State_by_Quarter.index,
 x = "Transaction_Count",
 color = "Quarter",
 orientation = "h",
 title = "<b> Transaction Numbers of State by Quarter </b>",
)

Bar_Year2 = px.bar(
 Count_of_State_by_Year,
 y = Count_of_State_by_Year.index,
 x = "Transaction_Count",
 color = "Year",
 orientation = "h",
 title = "<b> Transaction Numbers of State by Year </b>",
)

# Line Graph
# Providing the Transaction Values and Numbers of the District based on the Quarter and Year using the Line Graph with help of the Plotly Library

Amount_of_District1 =  FS.groupby(by=['District','Quarter']).sum()[['Transaction_Amount']].reset_index()
Amount_of_District2 =  FS.groupby(by=['District','Year']).sum()[['Transaction_Amount']].reset_index()

Line_Quarter1 = px.line(Amount_of_District1, x="District", y="Transaction_Amount", color="Quarter", title="<b> Transaction Values of District by Quarter </b>")
Line_Year1 = px.line(Amount_of_District2, x="District", y="Transaction_Amount", color="Year", title="<b> Transaction Values of District by Year </b>")

Count_of_District1 =  FS.groupby(by=['District','Quarter']).sum()[['Transaction_Count']].reset_index()
Count_of_District2 =  FS.groupby(by=['District','Year']).sum()[['Transaction_Count']].reset_index()

Line_Quarter2 = px.line(Count_of_District1, x="District", y="Transaction_Count", color="Quarter", title="<b> Transaction Numbers of District by Quarter </b>")
Line_Year2 = px.line(Count_of_District2, x="District", y="Transaction_Count", color="Year", title="<b> Transaction Numbers of District by Year </b>")

#Map Graph
# Providing the Transaction Values and Numbers of the State based on the Quarter and Year using the Map Graph with help of the Plotly Library
# The Map Graph is made with the help of the GeoJSON file

Mapfig1 = px.choropleth(
    Amount_of_State1,
    geojson= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transaction_Amount',
    title= "<b>Geographical Representation of Transaction Values of Indian States by Quarter </b>",
    animation_frame='Quarter',
    color_continuous_scale="Viridis"
)

Mapfig2 = px.choropleth(
    Amount_of_State2,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transaction_Amount',
    title= "<b>Geographical Representation of Transaction Values of Indian States by Year </b>",
    animation_frame='Year',
    color_continuous_scale="Plasma"
)

Mapfig3 = px.choropleth(
    Count_of_State1,
    geojson= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transaction_Count',
    title= "<b>Geographical Representation of Transaction Numbers of Indian States by Quarter </b>",
    animation_frame='Quarter',
    color_continuous_scale="Inferno"
)

Mapfig4 = px.choropleth(
  Count_of_State2,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transaction_Count',
    title= "<b>Geographical Representation of Transaction Numbers of Indian States by Year </b>",
    animation_frame='Year',
    color_continuous_scale="twilight"
)

# Providing the Transaction Values and Numbers of the District based on the Quarter and Year using the Map Graph with help of the Plotly Library
# The Map Graph is made with the help of the GeoJSON file

with open ("E:/Capstone/Project 2/india_district_map.geojson") as ind:
    india = json.load(ind)

Mapfig5 = px.choropleth(
              Amount_of_District1,
              locations="District",
              geojson=india,
              featureidkey="properties.district",
              color='Transaction_Amount',
              projection="mercator" ,
              color_continuous_scale="Reds",
              animation_frame="Quarter",
              title= "<b>Geographical Representation of Transaction Values of Indian Districts by Quarter </b>",
              )

Mapfig6 = px.choropleth(
              Amount_of_District2,
              locations="District",
              geojson=india,
              featureidkey="properties.district",
              color='Transaction_Amount',
              projection="mercator" ,
              color_continuous_scale="blues",
              animation_frame="Year",
              title= "<b>Geographical Representation of Transaction Values of Indian Districts by Year </b>",
              )

Mapfig7 = px.choropleth(
              Count_of_District1,
              locations="District",
              geojson=india,
              featureidkey="properties.district",
              color='Transaction_Count',
              projection="mercator" ,
              color_continuous_scale="greens",
              animation_frame="Quarter",
              title= "<b>Geographical Representation of Transaction Numbers of Indian Districts by Quarter </b>",
              )

Mapfig8 = px.choropleth(
              Count_of_District2,
              locations="District",
              geojson=india,
              featureidkey="properties.district",
              color='Transaction_Count',
              projection="mercator" ,
              color_continuous_scale="oranges",
              animation_frame="Year",
              title= "<b>Geographical Representation of Transaction Numbers of Indian Districts by Year </b>",
              )


map1 = Mapfig1.update_geos(fitbounds="locations", visible=False)
map2 = Mapfig2.update_geos(fitbounds="locations", visible=False)
map3 = Mapfig3.update_geos(fitbounds="locations", visible=False)
map4 = Mapfig4.update_geos(fitbounds="locations", visible=False)
map5 = Mapfig5.update_geos(fitbounds="locations", visible=False)
map6 = Mapfig6.update_geos(fitbounds="locations", visible=False)
map7 = Mapfig7.update_geos(fitbounds="locations", visible=False)
map8 = Mapfig8.update_geos(fitbounds="locations", visible=False)

#Displaying the Graphs in the Dashboards

left_column,right_column = st.columns(2)

left_column.plotly_chart(Pie1,use_container_width=True)
right_column.plotly_chart(Pie2,use_container_width=True)
left_column.plotly_chart(Pie3,use_container_width=True)
right_column.plotly_chart(Pie4,use_container_width=True)

left_column.plotly_chart(Bar_Quarter1,use_container_width=True)
right_column.plotly_chart(Bar_Quarter2,use_container_width=True)
left_column.plotly_chart(Bar_Year1,use_container_width=True)
right_column.plotly_chart(Bar_Year2,use_container_width=True)

left_column.plotly_chart(Line_Quarter1,use_container_width=True)
right_column.plotly_chart(Line_Quarter2,use_container_width=True)
left_column.plotly_chart(Line_Year1,use_container_width=True)
right_column.plotly_chart(Line_Year2,use_container_width=True)

left_column.plotly_chart(map1,use_container_width=True)
right_column.plotly_chart(map3,use_container_width=True)
left_column.plotly_chart(map2,use_container_width=True)
right_column.plotly_chart(map4,use_container_width=True)
left_column.plotly_chart(map5,use_container_width=True)
right_column.plotly_chart(map7,use_container_width=True)
left_column.plotly_chart(map6,use_container_width=True)
right_column.plotly_chart(map8,use_container_width=True)

#Hiding the Main Menu,Header and Footer in the Dashboard

hide_style = """<style> #MainMenu {visibility: hidden;} footer {visibility: hidden;} header {visibility: hidden;} </style>"""

st.markdown(hide_style,unsafe_allow_html=True)

Overwriting Capstone_2.py

<B><I><U>RUNNING THE DASHBOARD<B><I><U>

Running the above the python file using the below command.

In [25]:
!streamlit run Capstone_2.py

^C